.company-list-container {
  margin-top: 6rem;
  width: 90%;
  max-width: 1000px;
}
.company-list {
  width: 100%;
}

.company-list__header {
  width: 100%;
  display: flex;
  align-items: center;
  height: 4rem;
  border-bottom: 1px solid grey;
}
.company-list__header--item {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .company-list-container {
    width: 100%;
  }
}
