.modal {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}
.modal__btn-container {
    width: 100%;
    height: 5rem;
}
.modal__children-container {
    width: 100%;
}