.main-header {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  background-color: var(--billie-grey);
  position: fixed;
  z-index: 2;
  color: var(--billie-red);
}

.header-container {
  width: 100%;
  display: flex;
}

.header-title {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

