.company-details {
    width: 100%;
    display: flex;
    align-items: center;
    height: 3rem;
    border-bottom: 1px solid grey;
}

.company-details__item {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}